/* تصميم أساسي للموقع */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
}

form input, form select, form button {
    margin: 5px;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #45a049;
    color: #fff;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336; /* لون خلفية الزر */
    color: white;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f; /* لون عند التمرير */
}

button:hover {
    background-color: #0056b3;
}
